<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smallscore.chargewarner" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <supports-screens
        android:largeScreens="true"
        android:xlargeScreens="true" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /-->

    <!-- android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" / -->
    <!-- android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" / -->
    <!--
android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" /
    -->
    <application
        android:name=".CWApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".BootCallback" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".WarningBroadcastReceiver" >
        </receiver>
        <receiver android:name=".TemperatureWarningBroadcastReceiver" >
        </receiver>

        <activity
            android:name=".WarningPoppedScreen"
            android:label="@string/title_activity_warning_popped_screen" >
            <intent-filter>
                <action android:name="cui" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TemperatureWarningPoppedScreen"
            android:label="@string/title_activity_warning_popped_screen" >
            <intent-filter>
                <action android:name="cui" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BatteryFullPoppedScreen"
            android:label="@string/title_activity_warning_popped_screen" >
            <intent-filter>
                <action android:name="cui" />
            </intent-filter>
        </activity>

        <service
            android:name=".WarningService"
            android:enabled="true" />
        <service
            android:name=".TemperatureWarningService"
            android:enabled="true" />
        <service
            android:name=".BatteryFullService"
            android:enabled="true" />

        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help" >
        </activity>
        <activity
            android:name=".SupportEmailActivity"
            android:label="@string/title_activity_supportemail" >
        </activity>

        <receiver
            android:name=".PowerConnectReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BatteryFullBroadcastReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".StatisticsActivity"
            android:label="@string/title_activity_statistics" >
        </activity>
        <activity
            android:name=".RecommendationActivity"
            android:label="@string/title_activity_recommendation" >
        </activity>
    </application>
</manifest>
